.main-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--primary-white-color);
        background: var(--background-color);
}
.first-button {
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;

        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.36;
            /* identical to box height, or 188% */
            letter-spacing: 0.06em;
            color: var(--primary-white-color);
            border: none;
            
}







.headlines {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color:var(--title-text-color);
}

.paragraph {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: var(--primary-gray-color);
}

.second-headlines {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--title-text-color);
}

.team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    
        color:var(--title-text-color);
}

.jobs {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color:var(--primary-gray-color);
}

.peoples {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color:var(--title-text-color);
}




:root {
    --primary-text-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-gray-color: #757575;
    --background-color: #2F303A;
    --second-background-color:#E5E5E5;
    --main-black-color:#000000;

}









/* колір основного тексту #212121; */
/* вторинний колір #757575; */
/* білий #FFFFFF */
/* акцент #2196F3*/




body {
    background-color: var(--second-background-color);
    color:var(--title-text-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}





.modal-btn,
.first-button {
    font-family: 'Roboto', sans-serif;
}






.logo {
        color: var(--main-black-color);
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}

span {
    color:var(--accent-color);
}


.site-nav a {
    color: var(--title-text-color);
}


.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color) ;
}
 
.link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}









.mail {
    color: var(--primary-gray-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}

.contacts .mail:hover, 
.contacts .mail:focus {
 color: var(--accent-color);

}

.phone-number:hover,
.phone-number:focus {
 color: var(--accent-color);
}

.phone-number {
    color: var(--primary-gray-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}




.visibility {
    visibility:hidden
}



.modal-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        /* identical to box height, or 162% */
        letter-spacing: 0.03em;
    
        color:var(--title-text-color);
}

.modal-btn {
    text-decoration: none;
    border: none;
}

.modal-btn:hover {
    color: var(--primary-white-color);
    background-color:var(--accent-color);
    border-radius: 4px;
}
.modal-btn {
    cursor: pointer;
}





 .reference  {
    text-decoration: none;
}

.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
    text-decoration: none;
}

.project-text {
    color: var(--primary-gray-color);
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
}







.footer-logo {
color: var(--primary-white-color);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.footer-logo {
    cursor: pointer;
}


.span {
    color:var(--accent-color);
    }

    .location {
        color: var(--primary-white-color);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }
    .email {
        color: var(--primary-text-color);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }
    .number {
        color: var(--primary-text-color);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }


.location:hover,
.location:focus {
    color: var(--accent-color);
}

.email:hover,
.email:focus {
color: var(--accent-color)
}

.number:hover,
.number:focus {
    color: var(--accent-color)
}




